:root {
    --mobile: 375px;
    --tablet: 1000px;
    --desktop: 1440px;
    --little-row: 20vh;
    --height-breaking-news: 47vh;
    --height-footer-new-image: 14vh;

    /* primary colors */
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);

    /* neutrel */
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);

    /* font sizes */
    --fs-xs: 13px;
    --fs-sm: 14px;
    --fs-md: 15px;
    --fs-lg: 16px;
    --fs-xl: 17px;
    --fs-2xl: 18px;
    --fs-3xl: 20px;
    --fs-4xl: 25px;
    --fs-5xl: 34px;

    /*Font-Family: [Inter](https://fonts.google.com/specimen/Inter)*/
    /* font weights */
    --fw-md: 400;
    --fw-lg: 700;
    --fw-xl: 800;

    /* Spaces */
    --space-1: 4px;
    --space-2: 8px;
    --space-3: 12px;
    --space-4: 16px;
    --space-5: 20px;
    --space-6: 24px;
    --space-7: 28px;
    --space-8: 32px;
    --space-9: 36px;
    --space-10: 40px;
}